/* General */
:root {
    --primary-color-opacity: rgba(21, 21, 21, 0.85);
    --primary-color: #212121;
    --secondary-color: #efeded;
    --accent-color: #ffe900;
}

body, html {
    font-family: 'Ubuntu', sans-serif;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin: 0;
    padding: 0;
    height: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

td {
    padding-right: 10px;
}

/* Default stylesheet */

/* Header */
.header, .header-alt {
    background-color: var(--primary-color-opacity);
    color: var(--secondary-color);
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    height: 75px;
}

.header--stop {
    background-color: var(--primary-color);
    transition: background-color 0.5s;
    position: absolute;
}

.header-alt {
    background-color: var(--primary-color);
    position: relative;
}

.header-content {
    user-select: none;
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: left;
    height: 100%;
}

.header-content img {
    height: 75px;
    width: auto;
    margin-right: 10px;
}

.logo-wrapper {
    display: flex;
    align-items: center;
}

.logo-wrapper:hover .logo-title p {
    color: var(--accent-color);
    transition: color 0.5s;
}

.logo-title {
    display: flex;
    flex-direction: column;
}

.logo-title p {
    margin: 0;
    font-size: 1.5em;
}

.header-options {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-left: auto;
    padding: 10px;
}

.header-options a {
    color: var(--secondary-color);
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.2em;
    transition: color 0.5s;
}

.header-options a:hover {
    color: var(--accent-color);
}

/* Main body*/
.background-image {
    background-image: url('../images/background.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    z-index: -1;
    overflow: hidden;
}

.scroll-circle {
    position: fixed;
    user-select: none;
    bottom: 20px;
    left: 50%;
    padding: 20px;
    transform: translateX(-50%);
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: opacity 0.5s ease-out;
    height: 30px;
    width: 30px;
}

.scroll-circle p {
    margin-top: 0;
}

.scroll-circle.hidden {
    opacity: 0;
}

.content {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.news-titles, .contact-titles, .federation-titles, .associates-titles, .gallery-titles {
    width: 30%;
    padding-right: 20px;
    position: sticky;
    top: 0;
}

.news-content, .contact-content, .federation-content, .associates-content, .gallery-content {
    width: 70%;
    height: calc(100vh - 95px);
    text-align: left;
}

.contact-content, .federation-content, .associates-content, .gallery-content {
    height: calc(100vh - 190px)
}

.news-title, .contact-title, .federation-title, .associates-title, .gallery-title {
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid var(--primary-color);
    transition: background-color 0.5s ease, color 0.5s ease;
}

.news-title.selected, .contact-title.selected, .federation-title.selected, .associates-title.selected, .gallery-title.selected {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.news-item, .contact-item, .federation-item, .associates-item, .gallery-item {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.5s ease-in-out, max-height 0.5s ease-in-out;
}

.news-item.visible, .contact-item.visible, .federation-item.visible, .associates-item.visible, .gallery-item.visible {
    opacity: 1;
    max-height: calc(100vh - 95px);
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.contact-item.visible, .federation-item.visible, .associates-item.visible, .gallery-item.visible {
    max-height: calc(100vh - 190px);
}

.news-item::-webkit-scrollbar, .contact-item::-webkit-scrollbar, .federation-item::-webkit-scrollbar, .associates-item::-webkit-scrollbar, .gallery-item::-webkit-scrollbar {
    display: none;
}

.associates-clubs {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
}

.associates-clubs img {
    height: 100px;
    width: auto;
    border: 1px solid var(--primary-color);
}

.associates-clubs h3 {
    padding-left: 20px;
}

.gallery-item img {
    width: 200px;
    padding: 10px;
}

.content-not-found {
    width: 100%;
    flex-direction: column;
    height: calc(100vh - 190px);
}

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 50%;
    padding: 20px;
    cursor: pointer;
    display: block;
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

/* Footer */
.footer {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    height: 75px;
    padding: 10px;
    text-align: center;
}

.footer-content img {
    height: 45px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    width: auto;
    filter: grayscale(100%);
    transition: filter 0.5s;
}

.footer-content img:hover {
    filter: grayscale(0%);
    transition: filter 0.5s;
}

.footer-content p {
    margin: 0;
    font-size: 0.8em;
}

/* Media queries */

/* Tablet */
@media (min-width: 576px) and (max-width: 1024px) {
    /* Header */
    /* Main body */
    /* Footer */
}

/* Mobile */
@media (min-width: 360px) and (max-width: 575px) {
    /* Header */
    /* Main body */
    /* Footer */
}